@page
@using Ifinfo.Shared
@using NorthwindWeb.Pages
@model NorthwindWeb.Pages.customers

<div class="grid grid-cols-3 gap-x-8 gap-y-6 w-3/4">
    @foreach (countryWithCustomers countries in Model.list)
    {
        <div class="bg-gray-500 pb-6">
            <h1 class="text-center text-4xl mb-6">@countries.country</h1>
            <div class="space-y-2 h-full mt-6 px-3 bg-gray-200">
                @foreach (Customer customer in countries.customers)
                {
                    <div>
                        <a href="customer?id=@customer.CustomerID" class="mt-4">
                            @customer.ContactName
                        </a>
                    </div>
                }
            </div>
        </div>
    }
</div>