@page
@using Ifinfo.Shared
@model NorthwindWeb.Pages.customer

<div>
    <div>
        <h1>@Model.selectedCustomer.ContactName</h1>
        <p>Company : @Model.selectedCustomer.CompanyName</p>
        <p>Phone : @Model.selectedCustomer.Phone</p>
    </div>
    <div class="space-y-4 mt-8">
        @foreach (Order order in @Model.orders)
            {
                <div class="flex justify-between even:bg-gray-500 space-x-4">
                    <p>Id : <span class="text-right">@order.OrderID</span></p>
                    <p>Date : <span class="text-right">@order.OrderDate.ToString()</span></p>
                    <p>Shipped At : <span class="text-right">@order.ShippedDate.ToString()</span></p>
                </div>
            }
    </div>
</div>