@page
@model NorthwindWeb.Pages.SuppliersModel
@using Ifinfo.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
<h1 class="display-2">Suppliers</h1>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Company Name</th>
            <th>Country</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Supplier supplier in Model.Suppliers)
        {
            <tr>
                <td>@supplier.CompanyName</td>
                <td>@supplier.Country</td>
                <td>@supplier.Phone</td>
                </tr>
        }
    </tbody>
</table>
</div>

<div class="row">
    <p>Enter a name for a new supplier : </p>
    <form method="POST">
        <div>
            <div><input class="border border-black" asp-for="Supplier.CompanyName"/></div>
            <div><input class="border border-black" asp-for="Supplier.Phone"/></div>
            <div><input class="border border-black" asp-for="Supplier.Country"/></div>
            <input type="submit"/>
        </div>
    </form>
</div>
